body {
	background-color: black;
	header {
		text-align: center;
		font-size: 30px;
		background-color: #c73232; /*buat cari background color atau color yang dipengenin ke website https://www.webfx.com/web-design/color-picker/ ya */
	}
#p1	{
	color: black;
}
#about {
	text-align: center;
	color: white;
}
#skills {
	text-align: center;
	color: white;
}
#portfolio	{
	text-align: center;
	color: white;
}
.p2	{
	text-align: justify-all;
	color: white;
}
.warna	{
	color: white;
}
.grid-container	{
	background-color: maroon;
	display: grid;
	grid-template-columns: repeat(3,1fr); /* atau bisa juga 300px 300px, jadi grid-template-columns: 300px 300px | ingat ya 300px ada 2x = mau ada berapa kolom? kalo case di css ini ada 3 kolom, jadinya ditulis grid-template-columns: 300px 300px 300px */
	gap: 10px;
	padding: 10px;
}
.grid-item	{
	background-color: white;
	padding: 20px;
	text-align: center;
	border: 2px solid #000;
}
.box-beda	{
	background-color: silver;
}
#beda-itu  {
	color: black;
}
.box  {
	background-color: black;
}
#ContactMe	{
	align-items: center;
	background-color: white;
	color: black;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	display: inline-block;
}

#ContactMe a {
	color: black;
	text-decoration: none;
}

}